
body {
	font-family: Arial, sans-serif;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	.logo {
		display: flex;
		align-items: center;
		img {
			width: 40px;
			height: 40px;
			margin-right: 10px;
		}
	}
	.menu {
		display: flex;
		gap: 20px;
		a {
			text-decoration: none;
			color: #333;
			font-size: 16px;
			padding-left: 30px;
			&:hover {
				color: #5a5c5e;
			}
		}
	}
	.icons {
		display: flex;
		gap: 15px;
		i {
			font-size: 18px;
			color: #333;
			cursor: pointer;
			padding-left: 10px;
			padding-right: 20px;
			&:hover {
				color: #5a5c5e;
			}
		}
	}
}